In [1]:
print(' 56 '*2)
print('3'+'8')
print('3'* 8)

 56  56
38
33333333

In [2]:
n1=int(input())
n2=int(input())
t=n1+n2
print(t)
print(n1,n2)

 8
 9

17
8 9

In [3]:
n1=float(input("enter a float num:"))
n2=float(input("enter another float num:"))
t=n1+n2
print(t)
print(n1,n2)

enter a float num: 8
enter another float num: 9

17.0
8.0 9.0

In [4]:
n1=str(input())
n2=str(input())
concate=n1+n2
print(concate)
print(n1,n2)

 hi
 p

hi p
hi  p

In [5]:
str1=str(input("enter:"))
print(str1[2])
print(str1[-3])

enter: hello

l
l

In [7]:
str1=str(input())
print(str1[3])
print(str1[-2])
print(len(str1))
print(str1.upper())
print(str1.lower())
print(str1[1:3])
print(str1[::-1])

 nazima

i
m
6
NAZIMA
nazima
az
amizan

In [65]:
n=[8,0,9,5,4]
fruits=['apple','banana','orange','watermelom']
print(fruits)
#append element
fruits.append('kiwi')
print(fruits[::1])
print(fruits[-1])
#remove element
fruits.remove('banana')
print(fruits)
del fruits[0]
print(fruits)
fruits.insert(0,'mango')
print(fruits)
fruits.pop(0)
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fr=['muskmelon']
fruits.extend(fr)
print(fruits)
u=fruits.count('orange')
print(u)
v=fruits.copy()
print(v)

['apple', 'banana', 'orange', 'watermelom']
['apple', 'banana', 'orange', 'watermelom', 'kiwi']
kiwi
['apple', 'orange', 'watermelom', 'kiwi']
['orange', 'watermelom', 'kiwi']
['mango', 'orange', 'watermelom', 'kiwi']
['orange', 'watermelom', 'kiwi']
['kiwi', 'watermelom', 'orange']
['kiwi', 'orange', 'watermelom']
['kiwi', 'orange', 'watermelom', 'muskmelon']
1
['kiwi', 'orange', 'watermelom', 'muskmelon']

In [83]:
#dictionary operations
person={'name': 'naz','height':5.2}
print(person['name'])
person["city"]='hyd'
print(person)
print(person.get("height"))
print(person.keys())
print(person.values())
print(person.items())
person.update({'country':'India'})
print(person)
h=person.pop('height')
print(h)
print(person)

naz
{'name': 'naz', 'height': 5.2, 'city': 'hyd'}
5.2
dict_keys(['name', 'height', 'city'])
dict_values(['naz', 5.2, 'hyd'])
dict_items([('name', 'naz'), ('height', 5.2), ('city', 'hyd')])
{'name': 'naz', 'height': 5.2, 'city': 'hyd', 'country': 'India'}
5.2
{'name': 'naz', 'city': 'hyd', 'country': 'India'}

In [99]:
#tuple operations
t=(1,2,3,1,3,4)
print(t)
print(t[::2])
print(t[-1])
print(len(t))
print(t[1:3])
print(2 in t)
tu=('apple','banana','mango')
f1,f2,f3=tu
print(f2)

(1, 2, 3, 1, 3, 4)
(1, 3, 3)
4
6
(2, 3)
True
banana

In [105]:
#implementation of list in a tuple
t=(1,2,[3,4,5])
print(t)
t[2].append(66)
print(t)
t[2][2]=55
print(t)

(1, 2, [3, 4, 5])
(1, 2, [3, 4, 5, 66])
(1, 2, [3, 4, 55, 66])

In [109]:
nest=[[1,2],[3,4],[5,6]]
print(nest)
print(nest[0])
print(nest[1][0])

[[1, 2], [3, 4], [5, 6]]
[1, 2]
3