In [1]:
'''write a program to read a character untill * is entered . count the number of uppercase,lowercase, and numbers entered by the user'''
ch=input('enter any character:')
n=u=l=0
if ch>='0' and ch<='9':
    n+=1
elif ch>='a' and ch<='z':
    l+=1
elif ch>='A' and ch<='Z':
    u+=1
while ch!='*':
    ch=input("enter any character:")
    if ch>='0' and ch<='9':
        n+=1
    elif ch>='a' and ch<='z':
        l+=1
    elif ch>='A' and ch<='Z':
        u+=1
print("lowercase char:",l)
print("uppercase char:",u)
print("numbercase char:",n)

enter any character: d
enter any character: L
enter any character: D
enter any character: 2
enter any character: 4
enter any character: d
enter any character: +
enter any character: ^
enter any character: #
enter any character: @
enter any character: *

lowercase char: 2
uppercase char: 2
numbercase char: 2

In [3]:
#simple for loop string
str='cheetah'
for i in str:
    print(i,end=' ')

c h e e t a h

In [5]:
#list of strings
s=['jin','jimin','rm']
for bts in s:
    print(bts)

jin
jimin
rm

In [7]:
#for loop within range
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
n=int(input("enter a number"))
for i in range(n):
    print(i,end=' ')

enter a number 32

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

In [11]:
n=int(input("enter a number"))
for i in range(2,n,2):
    print(i,end=' ')

enter a number 20

2 4 6 8 10 12 14 16 18

In [17]:
n=int(input("enter a number"))
for i in range(n,0,-1):
    print(i,end=' ')

enter a number 34

34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [31]:
'''code for multiplication table of n where n is entered by the user
input:
enter any number:2
output:
multiplication table of 2
***********
2 X 0 = 0
.
.
2 X 10 = 20'''
n=int(input("enter a number for mul table:"))
#r=int(input("enter range of table:"))
print("multiplication table of ",n)
print("************************")
for i in range(1,11):
    print(n,' X ',i,'= ',n*i)

enter a number for mul table: 2

multiplication table of  2
************************
2  X  1 =  2
2  X  2 =  4
2  X  3 =  6
2  X  4 =  8
2  X  5 =  10
2  X  6 =  12
2  X  7 =  14
2  X  8 =  16
2  X  9 =  18
2  X  10 =  20

In [33]:
# Taking inputs from the user
num = int(input("Enter the number for the multiplication table: "))
limit = int(input("Enter the range (up to what number should the table go?): "))

# Generating the multiplication table
for i in range(1, limit + 1):  # Loop from 1 to the user-defined limit
    print(f"{num} x {i} = {num * i}")

Enter the number for the multiplication table:  2
Enter the range (up to what number should the table go?):  10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [35]:
#program to display all the loop years from 1900, 2101
st=int(input("enter the starting year"))
ed=int(input("enter the ending year"))
for i in range(st,ed+1):
    if i%4==0:
        print(i,end=' ')

enter the starting year 1900
enter the ending year 2100

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [37]:
# Function to check if a year is a leap year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

# Input from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2000

2000 is a leap year.

In [49]:
n=int(input("enter the range:"))
s=0
for i in range(1,n+1):
    a=1/(i**2)
    s=s+a
print(s)

enter the range: 5

1.4636111111111112

In [51]:
n=int(input("enter the range:"))
s=0
for i in range(1,n+1):
    a=(i**i)/i
    s=s+a
print(s)

enter the range: 5

701.0

In [65]:
'''generating a calender manually'''
sday=int(input("enter the starting day of the month(1-7):"))
numdays=int(input("enter the number of days:"))
print("Sun Mon Tues Wed Thur Fri Sat")
print("------------------------------")
for i in range(sday-1):
    print(end='   ')
i=sday-1
for j in range(1,numdays+1):
    if i>6:
        print()
        i=1
    else:
        i+=1
    print(str(j)+' ',end=' ')

enter the starting day of the month(1-7): 5
enter the number of days: 30

Sun Mon Tues Wed Thur Fri Sat
------------------------------

TypeError: 'str' object is not callable

In [67]:
sday = int(input("Enter the starting day of the month (1-7, where 1 is Sunday): "))
numdays = int(input("Enter the number of days in the month: "))
print("Sun Mon Tues Wed Thur Fri Sat")
print("------------------------------")
i = sday - 1
for _ in range(i):
    print("   ", end=" ")
for j in range(1, numdays + 1):
    print(f"{j:2}", end=" ")
    if i == 6:
        print() 
        i = 0 
    else:
        i += 1 
print()

Enter the starting day of the month (1-7, where 1 is Sunday):  5
Enter the number of days in the month:  30

Sun Mon Tues Wed Thur Fri Sat
------------------------------
                 1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [71]:
mdays=31
sday=2
print("Sun Mon Tue Wed Thu Fri Sat")
for _ in range(sday):
    print("  ",end=" ")
for days in range(1,mdays+1):
    print(f"{days:>3}",end=' ')
    if(sday+days)%7==0:
        print()

Sun Mon Tue Wed Thu Fri Sat
        1   2   3   4   5
  6   7   8   9  10  11  12
 13  14  15  16  17  18  19
 20  21  22  23  24  25  26
 27  28  29  30  31