In [1]:
#nested loop
n=int(input("enter the size of n:"))
for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

enter the size of n: 6

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [2]:
#nested loop
n=int(input("enter the size of n:"))
for i in range(n):
    for j in range(n):
        print(i,end=" ")
    print()

enter the size of n: 6

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [3]:
#nested loop
n=int(input("enter the size of n:"))
for i in range(n):
    for j in range(n):
        print(j,end=" ")
    print()

enter the size of n: 6

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [4]:
#nested loop
n=int(input("enter the size of n:"))
for i in range(n):
    for j in range(i):
        print('*',end=" ")
    print()

enter the size of n: 6

*
* *
* * *
* * * *
* * * * *

In [13]:
#nested loop
n=int(input("enter the size of n:"))
for i in range(n):
    for j in range(j):
        print('*',end=" ")
    print()

enter the size of n: 6

* * * *
* * *
* *
*

In [25]:
#right angled triangle using single for loop
for i in range(5):
    print("* " *i)

*
* *
* * *
* * * *

In [27]:
#right angled triangle using single for loop
for i in range(5):
    print("* " *5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [29]:
#right angled triangle using single for loop
for i in range(5):
    print(i*5)

0
5
10
15
20

In [31]:
#hollow square
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 6

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [33]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=' ')
    for k in range(2*i+1):
        print("*",end=" ")
    print()

 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [35]:
rows = 5
for i in range(rows):
    print(" " * (rows - i - 1) + "*" * (2 * i + 1))
for i in range(rows - 2, -1, -1):
    print(" " * (rows - i - 1) + "*" * (2 * i + 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [37]:
t='murthasim'
r=len(t)
for i in range(r):
    for j in range(i+1):
        print(t[j],end=' ')
    print()

m
m u
m u r
m u r t
m u r t h
m u r t h a
m u r t h a s
m u r t h a s i
m u r t h a s i m

In [39]:
#hollow square
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 6

* * * * * *
* *     * *
*   * *   *
*   * *   *
* *     * *
* * * * * *

In [41]:
#hollow square
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 6

* * * * * *
  *     *
    * *
    * *
  *     *
* * * * * *

In [43]:
#hollow square
n=int(input())
for i in range(n):
    for j in range(n):
        if j==0 or j==n-1 or i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 6

*         *
* *     * *
*   * *   *
*   * *   *
* *     * *
*         *

In [45]:
#hollow square
n=int(input())
for i in range(n):
    for j in range(n):
        if i==j or i+j==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

 6

*         *
  *     *
    * *
    * *
  *     *
*         *

In [47]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        if k == 0 or k == 2 * i or i == rows - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter number of rows:  6

     *
    * *
   *   *
  *     *
 *       *
***********

In [49]:
n=int(input())
for i in range(n):
    for j in range(n-i):
        print("*",end=' ')
    print()

 6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [51]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print()

 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [53]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print()
for k in range(n):
    for l in range(n-k-1):
        print("*",end=' ')
    print()

 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [55]:
n=5
for i in range(1,2*n):
    s=i if i<n else 2*n-i
    for j in range(s):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [57]:
n=5
for i in range(1,n+1):
    for j in range(n):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=' ')
    print()
for i in range(1,n+1):
    for j in range(n-i):
        print("*",end=' ')
    print()

In [59]:
for i in range(1,n+1):
    for j in range(n):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [23]:
for i in range(1,n+1):
    for j in range(n):
        print(n,end=' ')
    print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [21]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [19]:
n=5
for i in range(1,n+1):
    for s in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [17]:
n=8
for i in range(n):
    for s in range(n-i-1):
        print('  ',end=' ')
    num=1
    for j in range(i+1):
        print(f"{num}   ",end='  ')
        num=num*(i-j)//(j+1)
    print()

                     1
                  1     1
               1     2     1
            1     3     3     1
         1     4     6     4     1
      1     5     10     10     5     1
   1     6     15     20     15     6     1
1     7     21     35     35     21     7     1

In [15]:
#floyd's triangle
num=1
for i in range(n):
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [61]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end=' ')
    print()
for i in range(1,n+1):
    for j in range(n-i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
r=8
n=1
for i in range(1,r+1):
    for j in range(i):
        print(n,end=' ')
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

In [3]:
n=5
for i in range(1,n+1):
    print(' '*(n-i),end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [5]:
n=5
for i in range(1,n+1):
    print(' '*(n-i),end='')
    for j in range(i):
        print('*',end='')
    print()
for i in range(n-1,0,-1):
    print(' '*(n-i),end='')
    for j in range(i):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [11]:
n=5
for i in range(1,n+1):
    print(' '*(n-i),end=' ')
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(n-1,0,-1):
    print(' '*(n-i),end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [15]:
r=4
for i in range(r):
    for j in range(r-i-1):
        print(' ',end=' ')
    for j in range(r):
        print('* ',end=' ')
    print()

      *  *  *  *
    *  *  *  *
  *  *  *  *
*  *  *  *

In [17]:
def print_centered_diagonal_rhombus(n):
    if n % 2 == 0:
        print("Please enter an odd number for symmetry.")
        return

    mid = n // 2
    for i in range(n):
        for j in range(n):
            if j == mid - abs(mid - i) or j == mid + abs(mid - i):
                print("*", end="")
            else:
                print(" ", end="")
        print()

# Example usage:
print_centered_diagonal_rhombus(7)

*     *
 *   *
  * *
   *
  * *
 *   *
*     *